version: "3.9"

services:

  db:
    image: mysql:8
    container_name: final_store_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: final_sotre_local

    ports:
      - "5555:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: backend-dev
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
    environment:
      DATABASE_URL: "mysql://root:root@db:3306/final_store_local"
      DB_HOST: db
      DB_PORT: 3306
    ports:
      - "8080:8080"
    command: ["npm", "run", "dev"]

volumes:
  db_data:
